.container{
  padding-top:20px;
}

.itemname {
    font-weight: bold;
	font-size: 1.1em;
}

.margin0 {
	margin: 0px 0px 0px 0px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.paddingpx {
	padding-left: 5px;
	padding-right: 5px;
}


@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}

@media (min-width: 1200px) {
  .container {
   width: 950px;
  }
}

